<!DOCTYPE html>
<html lang="en">
<head>
    <title>KP Drivers</title>
    <link rel="icon" href="/img/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/vue.js"></script>
    <script src="js/vue-resources.js"></script>
    <script defer src="js/fontawesome.js"></script>

    <script src="js/jquery.js" ></script>
    <script src="js/jpopper.js" ></script>
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <script src="js/bootstrap.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Jura:500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/kprime.css">
</head>
<body>
    <h1><a href="/"><img class="logo" src="img/kprime-logo-bw.png"></a> Drivers</h1>

    <div class="alert alert-info" role="alert">
        <p>A Driver gives access to data source. </p>
        <table class="noborder">
            <tr><td class="noborder">
                <a href="sources.html" class="btn btn-primary" >Sources</a>
            </td>
            </tr>
        </table>

    </div>

    <div id="app-drivers">

        <div v-if="errorMessage" class="alert alert-danger" role="alert">
            <p>{{errorMessage}}</p>
        </div>

        <div v-if="successMessage" class="alert alert-success" role="alert">
            <p>{{successMessage}}</p>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div v-for="driver in drivers" class="col-sm">

                    <div class="card">
                        <img src="/img/driver.png" class="card-img-top" alt="...">
                        <div class="card-body card-img-overlay">
                            <h5 class="card-title">{{ driver.name }}</h5>
                            <p  class="card-text" >{{ driver.type }}</p>
                            <p  class="card-text" >{{ driver.className }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <script src="drivers.js"></script>

</body>
</html>